.verDetalle {
    background-color: rgba(128, 43, 141, 0.903);
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    margin-left: 5px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.siguiente {
    background-color: rgba(128, 43, 141, 0.903);
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    margin-left: 5px;
    margin-right: 5px;
}