.verDetalle {
    background-color: rgba(128, 43, 141, 0.903);
    color: white;
    padding: 0.3rem;
}

.siguiente {
    background-color:hotpink;
    color: white;
    padding: 0.3rem;
    height: fit-content;
}